<form action="/action_page.php" method="get">
<label for="id">book id:</label>
<input type="text" id="fname" name="fname"><br><br>
  <label for="fname">book name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">author:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>